body{
    background-color: black;
    color: white;
    margin-left: 1em;

}

nav{
    display: flex;
    align-items:center;
    justify-items: right;

}
#list{
    margin-right: 1em;
    font-size: 1.5rem;
}
#msearch{
    margin-right: 5em;
    font-size: 1.5rem;
}
#user{
    margin-right: 5em;
    font-size: 1.5rem;
}
#cart{
    margin-right: 5em;
    font-size: 1.5rem;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 35em ;

}
h2{
    font-size: .9rem;
    color: grey;
    background-color: rgb(48, 44, 44);
    margin-left: -1em;
    padding: 1em
}
p{
    font-weight: bold;
}
button{
    background-color: orange;
}
.rem{
   
    display: inline-block;
     color:orange;
    margin-right: 3em;
}
.rem:hover{
    cursor: pointer;
    color: lightcoral;
}

#love:hover{
    cursor: pointer;
    
}
.price{
   display: grid;
   grid-template-areas: 'yeah come';
}
#total{
  margin-left: 10em;
} 